---
import IconArrowLeft from "@/assets/icons/IconArrowLeft.svg";
import IconArrowRight from "@/assets/icons/IconArrowRight.svg";
import LinkButton from "./LinkButton.astro";

export interface Props {
  currentPage: number;
  totalPages: number;
  prevUrl?: string;
  nextUrl?: string;
}

const { currentPage, totalPages, prevUrl, nextUrl } = Astro.props;
---

{
  totalPages > 1 && (
    <nav class="mt-auto mb-8 flex justify-center" aria-label="Pagination">
      <LinkButton
        disabled={!prevUrl}
        href={prevUrl || "#"}
        class:list={["mr-4 select-none", { "opacity-50": !prevUrl }]}
        ariaLabel="Previous"
      >
        <IconArrowLeft class="inline-block" />
        Prev
      </LinkButton>
      
      <span class="flex items-center">
        {currentPage} / {totalPages}
      </span>

      <LinkButton
        disabled={!nextUrl}
        href={nextUrl || "#"}
        class:list={["ml-4 select-none", { "opacity-50": !nextUrl }]}
        ariaLabel="Next"
      >
        Next
        <IconArrowRight class="inline-block" />
      </LinkButton>
    </nav>
  )
}
